<h1>User List</h1>

<ul>
    @for(user of usersData(); track user.id){
      <div class="user-ul">
          <ul >
            <li> Name :{{user.name}}</li>
            <li> Age :{{user.age}}</li>
            <li> Email :{{user.email}}</li>
            <li> id :{{user.id}}</li>
        </ul>
       <div>
         <button class="bg-red-500 p-1 rounded-xs text-white m-1 cursor-pointer" (click)="deleteUser(user.id)" >Delete</button>
         <button class="bg-orange-500 p-1 rounded-xs text-white m-1 cursor-pointer " (click)="editUser(user.id)" >Edit</button>
       </div>
      </div>
    }
</ul>