.btn{
    background-color: gray;
    padding: 8px 12px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
}
.btn-primary{
    background-color: rgb(0, 140, 255);
}
.btn-primary:hover{
    background-color: rgb(44, 153, 243);
}
.btn-warning{
    background-color: red
}
.btn-warning:hover{
    background-color: rgb(237, 46, 46)
}

.btn-success{
    background-color: green
}
.btn-success:hover{
    background-color: rgb(94, 235, 94)
}